li {
  padding: 0 20px;
  margin-bottom: 16px;
  height: 30px;
  display: flex;
  align-items: center;
}

.users_table {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -24px;
  width: calc(100% + 24px);
  margin-left: -24px;
}

.user_card {
  padding-top: 24px;
  padding-left: 24px;
}

.card__shadows {
  background-color: rgb(255, 255, 255);
  color: rgb(52, 49, 76);
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: rgb(0 0 0 / 6%) 0px 3px 3px -2px, rgb(0 0 0 / 4%) 0px 3px 4px 0px,
    rgb(0 0 0 / 4%) 0px 1px 8px 0px !important;
}

.card__field {
  padding: 24px;
  margin: -8px;
  flex-wrap: wrap;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  justify-content: space-between;
}

.short_info {
  margin: 8px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
}
.short_info__img {
  position: relative;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  flex-shrink: 0;
  font-size: 1.25rem;
  line-height: 1;
  border-radius: 50%;
  overflow: hidden;
  user-select: none;
  width: 48px;
  height: 48px;
}
.short_info__img_ {
  width: 100%;
  height: 100%;
  text-align: center;
  object-fit: cover;
  color: transparent;
  text-indent: 10000px;
}
.short_info__text {
  margin-left: 16px;
}
.short_info__h5 {
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: none;
  white-space: normal;
}
.short_info__p {
  margin-bottom: 0px;
  font-size: 14px;
  white-space: normal;
  color: rgba(52, 49, 76, 0.54);
  margin-top: 8px;
  font-weight: normal;
  text-transform: capitalize;
}

.action_buttons {
  margin: 8px;
  display: flex;
}
.action_button {
  display: inline-flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  position: relative;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  outline: 0px;
  border: 0px;
  margin: 0px 4px 0px 0px;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  appearance: none;
  text-decoration: none;
  line-height: 1.75;
  letter-spacing: 0.02857em;
  min-width: 64px;
  padding: 4px 20px;
  border-radius: 4px;
  font-size: 14px;
  text-transform: none;
  font-weight: 400;
  transition: all 250ms ease 0s;
  color: rgb(25, 118, 210);
}
.sidebar_wrapper {
  min-width: 230px;
  background: linear-gradient(rgba(34, 42, 69, 0.96), rgba(34, 42, 69, 0.96));
  padding-top: 30px;
 -webkit-box-shadow: 6px -3px 11px 6px rgb(34 60 80 / 33%);
  -moz-box-shadow: 6px -3px 11px 6px rgb(34 60 80 / 33%);
  box-shadow: 6px -3px 11px 6px rgb(34 60 80 / 33%);
  z-index: 10;
}
.sidebar {
  padding: 10px 0 50px 10px;
  z-index: 111;
  color: rgb(255, 255, 255);
  transition: all 250ms ease-in-out 0s;

}
.sidebar_link {
  cursor: pointer;
  color: #fff;
  width: 100%;
  transition: all .3s ease 0s;
  padding: 10px;
  border-radius: 5px;
}
.sidebar_link:hover {
  background-color: rgba(231, 231, 231, 0.664);
  border-radius: 5px;
}

.sidebar_logolink {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding-left: 25px;
}
.sidebar_logolink img {
  padding-right: 15px;
}

@media (min-width: 768px) {
  .user_card {
    flex-basis: 50%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 48%;
  }
}
