body {
  background: #333333;
}

.ice-block-1 {
  width: 215px;
  height: 206px;
  background: url("../img/ice-block-1.png");
}

.ice-block-2 {
  width: 41px;
  height: 39px;
  background: url("../img/ice-block-2.png");
}

.ice-block-3 {
  width: 104px;
  height: 101px;
  background: url("../img/ice-block-3.png");
}

.ice-block-4 {
  width: 75px;
  height: 76px;
  background: url("../img/ice-block-4.png");
}

.ice-block-5 {
  width: 38px;
  height: 39px;
  background: url("../img/slide-1-ice-block-1.png");
  opacity: 0.53;
}

.ice-block-6 {
  width: 106px;
  height: 101px;
  background: url("../img/slide-1-ice-block-2.png");
  opacity: 0.53;
}

.ice-block-7 {
  width: 216px;
  height: 205px;
  background: url("../img/slide-1-ice-block-3.png");
  opacity: 0.53;
}

.ice-block-8 {
  width: 38px;
  height: 39px;
  background: url("../img/slide-2-ice-block-1.png");
  opacity: 0.53;
}

.ice-block-9 {
  width: 106px;
  height: 101px;
  background: url("../img/slide-2-ice-block-2.png");
  opacity: 0.53;
}

.ice-block-10 {
  width: 216px;
  height: 205px;
  background: url("../img/slide-2-ice-block-3.png");
  opacity: 0.55;
}

.ice-block-11 {
  width: 38px;
  height: 39px;
  background: url("../img/slide-3-ice-block-1.png");
}

.ice-block-12 {
  width: 106px;
  height: 101px;
  background: url("../img/slide-3-ice-block-2.png");
}

.ice-block-13 {
  width: 216px;
  height: 205px;
  background: url("../img/slide-3-ice-block-3.png");
  opacity: 0.53;
}

.ice-block {
  position: absolute;
  background-size: cover;
}

.navbar {
  position: fixed;
  top: 352px;
  right: 27px;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.navbar-item {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  outline: none;
  border: none;
  padding: 0;
  margin-bottom: 7px;
  -webkit-transition: 1s;
  transition: 1s;
}

.next-page {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80px;
  font-family: 'Gotham Pro';
  font-size: 21px;
  color: #ffffff;
  text-shadow: 0 0 119px rgba(0, 131, 254, 0.09);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.move-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrow-down {
  background: url("../img/arrow-down.png");
  width: 44px;
  height: 22px;
  background-size: cover;
  margin-top: 18px;
  z-index: 10;
}

.move-down-bg {
  position: absolute;
  top: -10px;
  left: -30px;
  background: url("../img/NextPage.png");
  height: 110px;
  width: 100%;
  background-size: cover;
  -webkit-filter: blur(15px);
          filter: blur(15px);
}

.pulse-circle {
  position: absolute;
}

.pulse-circle-wrap {
  position: relative;
}

.cirlce-text {
  position: absolute;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  color: #0d319c;
  font-family: Lato;
  font-size: 20px;
}

.circle-1 {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 50%;
  border: 2px solid rgba(209, 80, 52, 0.6);
  background: radial-gradient(circle 53px at center, rgba(222, 121, 27, 0.16) 0%, rgba(222, 121, 27, 0.16) 1%, rgba(207, 20, 55, 0.16) 100%);
}

.circle-2,
.circle-3,
.circle-4 {
  position: absolute;
  /*width: 26px;
  height: 26px;
  top: 13px;
  left: 13px;*/
  border-radius: 50%;
  border: 1px solid rgba(209, 80, 52, 0.6);
  -webkit-animation: pulsing 2.1s infinite;
          animation: pulsing 2.1s infinite;
  background: radial-gradient(rgba(208, 47, 54, 0.62), rgba(222, 119, 28, 0.62));
  opacity: 0;
}

.circle-3 {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.circle-4 {
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    background: rgba(222, 119, 28, 0.5);
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
    background: rgba(222, 119, 28, 0.1);
    opacity: 1;
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  50% {
    background: rgba(222, 119, 28, 0.5);
  }
  100% {
    -webkit-transform: scale(3);
            transform: scale(3);
    background: rgba(222, 119, 28, 0.1);
    opacity: 1;
  }
}

.scroller {
  position: absolute;
  bottom: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.scroller-line {
  height: 12px;
  width: 618px;
  background-color: rgba(209, 234, 255, 0.3);
  position: relative;
}

.scroller-progress {
  background-color: #d1eaff;
  height: 100%;
  position: absolute;
}

.scroller-icon {
  position: absolute;
  width: 44px;
  height: 55px;
  background: url("../img/slider-icon.png");
  background-size: cover;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  left: -8px;
  opacity: 1;
}

.scroller-points {
  margin-top: 30px;
  font-family: GothamPro;
  width: 618px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #ffffff;
  font-size: 20px;
}
/*# sourceMappingURL=components.css.map */